<div class="row">
  <div class="col">
    <h2 class="text-center display-4 my-5">Time to choose ur goods !</h2>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mb-5">
    <% @products.each do |product| %>
      <div class="col-3">
        <div class="card border-0"><%= image_tag(product.image_url, class: 'list_image') %></div>
        <div class="card-body">
          <p class="card-text text-center"><%= product.title %></p>
          <p class="card-text text-center"><%= truncate(strip_tags(product.description),
                                                        length: 40) %></p>
          <p class="card-text text-center"><%= number_to_currency(product.price) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>